.cards{
    
    &__list{
        padding-top: 60px;
        max-width: 1860px;
        margin: auto;
        padding-inline: 30px;
        
        @include mobile{
            padding-top: 20px;
        }
    }

    &__item{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        
        
        border-radius: var(--border-radius);
        background-color: var(--color-purple-light);
        box-shadow: 0 0 4px black;
        
        transition-duration:var(--transition-duration);
        
        @include hover{
            color: var(--color-blue-grey);
            box-shadow: 1px 1px 5px black;
        }

        @include mobile{
            min-height: 200px;
            padding-inline: 60px;
    }
    }

    &__link{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    &__body{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        font-size: 32px;
        font-weight: 500;
    }

}