.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;

    
    @include desktopmax{
        gap: 50px;
    }

    @include desktop{
        grid-template-columns: repeat(2,2fr);
        gap: 40px;
    }

    @include mobile{
        grid-template-columns: repeat(1,1fr);
        gap:20px;
    }
}