.schools{

    &-label{
        @include flex-center;
        color: white;
        padding-top: 80px;
        
        @include desktop{
            padding-top: 20px;
        }

        @include tablet{
            padding-top: 15px;
        }

    }

    &-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 70px 160px;
        gap: 100px;
        
        @include desktopmax{
            
            gap:80px;
            padding-inline: 120px;
        }
        
        @include desktop{
            grid-template-columns: repeat(2, 1fr);
            gap:60px;
            padding: 50px 100px;
        }

        @include tablet{
            gap:30px;
            padding: 40px 40px;
        }

        @include mobile{
            grid-template-columns: repeat(1, 1fr);
            gap:20px;
            padding: 30px 20px;
        }
    }

    &__item{
        
        
        display: flex;
        justify-content:c;
        align-items: center;
        
        height: 120px;

        border: var(--border);
        border-radius: var(--border-radius);

        box-shadow:var(--shadowBefore);
        
        
        @include hover{
            box-shadow: var(--shadowAfter);

        }
        &-logo{
             padding-left: 20px;
            img{
                @include square(90px);
                
                @include tablet{
                    @include square(70px);
                }
            }
        }
    }

    &__name-link{
        color: white;
        width: 100%;
        padding-left: 20px;
        padding-block: 20px;
        @include fluid-text(18,1);

        @include desktopmax{
            @include fluid-text(18,1);
        }
        @include desktop{
            @include fluid-text(20,2);
        }
        @include tablet{
            @include fluid-text(20,16);
            padding-block: 5px;
        }
        @include mobile{
            @include fluid-text(20,16);
        }

    }
}