.html{
    
    padding-top: 140px;
    
    @include desktop{
        padding-top: 50px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-inline: 100px;
        gap: 20px;
        
        @include desktopmax{
            grid-template-columns: repeat(2,1fr);
            gap: 35px;
            padding-inline: 50px;
        }
        @include tablet{
            grid-template-columns: repeat(1,1fr);
            
        }
    }

    &__item{

        height: 500px;
        @include tablet{
            height: auto;
        }
    }

    &__description{

        height: 100%;
        overflow-y: scroll;

        &-text{
            @include fluid-text(20,16);
        }

        @include desktopmax{
            overflow: hidden;
        }

    }

    &__label{
        @include fluid-text(40,30);
        padding-bottom: 20px;
    }
}