.header3{
    height: 100vh;
    @include flex-center;

    &__inner{
        @include flex-center;
        
        margin: 60px 90px;
        height: 150px;
    }

    &__label{
        @include fluid-text(64,38);
        animation-name: opasity;
        animation-duration: 2s;
        
    }

    @keyframes opasity{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}