.preloader3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 300;
    pointer-events: none;
    


    &__column{
        flex:1;
        height: 100%;
        background-color: var(--color-pink-light);
        animation:revealUp 1.2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    
        &:nth-child(2){
            animation-delay: 0.1s;
        }

        &:nth-child(3){
            animation-delay: 0.2s;
        }
        
    }

    @keyframes revealUp{
        0%{
            transform: translateY(0);
        }

        100%{
            transform: translateY(-100%);
        }
    }
}