.threeriders{


    &__header{
        padding-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-items: center;
        padding-inline: 100px;
        gap:60px;
        
    }

    &__item{
        

        @include square(400px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: 0;
        border: 1px solid white;
        border-radius: var(--border-radius);
        box-shadow: var(--shadowBefore);

        @include hover{
            box-shadow: var(--shadowAfter);
        }
    }
    
}