.header4{

    height: 100vh;
    text-align: center;
    background-color: #eee;
    background-image: url('/myProject/images/page-4/cover.png');
    background-position: center;
    background-size: cover;

    &-bg{

        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(95 13 238 / 0.5);
    }

    &__title{
        margin: auto;
        color: white;
        font-weight: 800;
        font-size: 74px;
        text-transform: uppercase;
    }
}