@import 
    '../blocks/1contentbody',
    '../blocks/1header',
    '../blocks/1section',
    '../blocks/1grid',
    '../blocks/1cards',
    '../blocks/1footer',
    '../blocks/1connect',
    '../blocks/1content';