@import 
    '../styles/blocks/1contentbody',
    '../styles/blocks/1header',
    '../styles/blocks/1section',
    '../styles/blocks/1grid',
    '../styles/blocks/1cards',
    '../styles/blocks/1footer',
    '../styles/blocks/1connect',
    '../styles/blocks/1content';