body{
    @include fluid-text(18, 16);

    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.28;
    
}

.contentbody1{
  color: var(--color-dark);
  background-color: var(--color-grey-light2);
}

.contentbody2{
  color: var(--color-dark);
  background-color: var(--color-dark);
  
}

.contentbody4{
  color: var(--color-dark);
  background-color: white;
  
}


a,
button,
input,
textarea,
svg *{
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}


h1, .h1 {
  @include fluid-text(60, 43);
}

h2, .h2 {
  @include fluid-text(40, 36);
}

h3, .h3 {
  @include fluid-text(30, 26);
}

h4, .h4 {
  @include fluid-text(20, 18);
}