body{
    @include fluid-text(18, 16);

    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.28;
    
}

.contentbody1{
  color: var(--color-dark);
  background-color: var(--color-grey-light2);
}

.contentbody2{
  color: var(--color-dark);
  background-color: var(--color-dark);
}

.contentbody3{
  color: var(--color-pink-light);
  background-color: var(--color-dark-2);
}

.contentbody3-1{
  color: var(--color-alabasted-grey);
  background-color: var(--color-shadow-grey); 
}

.contentbody3-2{
  /*background-image: linear-gradient(135deg,#674cc9,#70a14f);*/
  /*background-image: conic-gradient(#674cc9,#70a14f,#ce3556);*/
  background-image: repeating-linear-gradient(135deg,#ce4b4b,#c58735,#dad051,#4ece59,#2690a3,#3a53c5,#7f45cc);
  background-attachment: fixed;
  margin: 0;
  max-height: 100vh;
}

.contentbody3-3{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: white;
  background-color: #131313;
}

.contentbody4{
  color: var(--color-dark);
  background-color: white;
}
.contentbody5{
  color: var(--color-grey-light);
  background-color: #3f3b3b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}


a,
button,
input,
textarea,
svg *{
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}


h1, .h1 {
  @include fluid-text(60, 43);
}

h2, .h2 {
  @include fluid-text(40, 36);
}

h3, .h3 {
  @include fluid-text(30, 26);
}

h4, .h4 {
  @include fluid-text(20, 18);
}