$desktopmax:1600px;
$desktop:1280px;
$tablet:1023px;
$mobile:767px;

@mixin desktopmax{
    @media (max-width: $desktopmax){
        @content;
    }
}

@mixin desktop{
    @media (max-width: $desktop){
        @content;
    }
}

@mixin tablet{
    @media (max-width: $tablet){
        @content;
    }
}

@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}

@mixin hover{
    @media (hover:hover){
        &:hover{
            @content;
        }
    }
    
    @media(hover:none ){
        &:active{
            @content;
        }
    }
}