@import
  'normalize',
  'fonts',
  'mixins',
  'media',
  'variables',
  'utils',
  'globals';

@import 
  '../pages/page1',
  '../pages/page2',
  '../pages/page3',
  '../pages/page3-1',
  '../pages/page3-2',
  '../pages/page3-3',
  '../pages/page4',
  '../pages/page5';
  