@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-dark:#3f3b3b;
  --color-blue-grey: #3d5a68;
  --color-purple-light: #bc8fd6;
  --color-grey: #bbbbbb;
  --color-grey-light: #F0F7EE;
  --color-grey-light2: #bbcac3;
  --color-tpu-green: rgb(40,190,70);
  --color-dark-2: #191820;
  --color-pink-light: #ae8bf8;
  --color-green-yellow: #b9ff66;
  --color-shadow-grey:#191f23;
  --color-alabasted-grey:#e5e2e2;
  --color-yellow: #f7e013;
  --border:1px solid var(--color-black);
  --border-radius: 30px;
  --border-radius-small: 7px;
  --shadow-default: 4px 4px 0 var(--color-black);
  --font-family-base:"Space Grotesk", sans-serif;
  --font-famly-bg:"Inter 18pt", sans-serif;
  --card-padding-x: 30px;
  --button-link-height: 70px;
  --transition-duration: 0.2s;
  --box-shadow: -12px -12px 12px hsla(0, 0%, 100%, .32), 12px 12px 12px rgba(0, 0, 0, .32);
  --box-shadow-2: -4px -4px 12px hsla(0, 0%, 100%, .8), 4px 4px 12px black;
  --box-shadow-3: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px black;
  --box-shadow-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
  --box-shadow-4: -8px -8px 12px hsla(0, 0%, 100%, .8), 8px 8px 12px rgba(0, 0, 0, .05);
  --box-shadow-4-transparent: -8px -8px 12px hsla(0, 0%, 100%, 0), 8px 8px 12px transparent;
  --box-shadow-5: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px #ae8bf8;
  --box-shadow-6: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 20px rgba(0, 0, 0, .25);
  --box-shadow-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, .015), inset 8px 4px 20px 12px rgba(0, 0, 0, .8);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px hsla(0, 0%, 100%, 0), inset 8px 4px 20px 12px transparent;
  --box-shadow-inset-2: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .5);
  --box-shadow-inset-2-transparent: inset -2px -2px 4px hsla(0, 0%, 100%, 0), inset 2px 2px 4px transparent;
  --shadowBefore: var(--box-shadow-6), var(--box-shadow-inset-transparent);
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset-2);
}

.container {
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.28;
}

.contentbody1 {
  color: var(--color-dark);
  background-color: var(--color-grey-light2);
}

.contentbody2 {
  color: var(--color-dark);
  background-color: var(--color-dark);
}

.contentbody3 {
  color: var(--color-pink-light);
  background-color: var(--color-dark-2);
  overflow-x: hidden;
}

.contentbody3-1 {
  color: var(--color-alabasted-grey);
  background-color: var(--color-shadow-grey);
}

.contentbody3-2 {
  /*background-image: linear-gradient(135deg,#674cc9,#70a14f);*/
  /*background-image: conic-gradient(#674cc9,#70a14f,#ce3556);*/
  background-image: repeating-linear-gradient(135deg, #ce4b4b, #c58735, #dad051, #4ece59, #2690a3, #3a53c5, #7f45cc);
  background-attachment: fixed;
  margin: 0;
  max-height: 100vh;
}

.contentbody3-3 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: white;
  background-color: #131313;
}

.contentbody4 {
  color: var(--color-dark);
  background-color: white;
}

.contentbody5 {
  color: var(--color-grey-light);
  background-color: #3f3b3b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2, .h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3, .h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.contentbody1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

@keyframes {}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: var(--color-grey-light);
  border: var(--border);
  border-radius: var(--border-radius-small);
  box-shadow: 2px 3px 1px black;
}
@media (max-width: 1023px) {
  .header__inner {
    margin: 20px;
  }
}
.header__title {
  padding: 30px;
}
@media (max-width: 1023px) {
  .header__title {
    padding: 20px;
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: 20px;
  }
}

.section__header {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .section__header {
    padding-top: 20px;
  }
}
.section__description {
  font-size: 25px;
}
@media (max-width: 767px) {
  .section__description {
    font-size: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}
@media (max-width: 1600px) {
  .grid {
    gap: 50px;
  }
}
@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.cards__list {
  padding-top: 60px;
  max-width: 1860px;
  margin: auto;
  padding-inline: 30px;
}
@media (max-width: 767px) {
  .cards__list {
    padding-top: 20px;
    padding-inline: 40px;
  }
}
.cards__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  border-radius: var(--border-radius);
  background-color: var(--color-purple-light);
  box-shadow: 0 0 4px black;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .cards__item:hover {
    color: var(--color-blue-grey);
    box-shadow: 1px 1px 5px black;
    scale: 1.1;
  }
}
@media (hover: none) {
  .cards__item:active {
    color: var(--color-blue-grey);
    box-shadow: 1px 1px 5px black;
    scale: 1.1;
  }
}
@media (max-width: 767px) {
  .cards__item {
    min-height: 200px;
    padding-inline: 60px;
  }
}
.cards__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cards__body {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards__title {
  font-size: 32px;
  font-weight: 500;
}

.footer__inner {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 100px 30px 20px 30px;
  background-color: var(--color-grey-light);
  border: var(--border);
  border-radius: var(--border-radius-small);
  box-shadow: 2px 3px 1px black;
}
@media (max-width: 767px) {
  .footer__inner {
    margin-top: 20px;
  }
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  gap: 10px;
  padding-right: 20px;
}
.footer__item {
  position: relative;
  top: 3px;
}

.connect {
  padding-inline: 20px;
  font-weight: 500;
  font-size: 22px;
}
.connect::after {
  content: ":";
}

.content {
  flex-grow: 1;
}

.header2__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: var(--color-dark);
}
@media (max-width: 1023px) {
  .header2__inner {
    height: 150px;
  }
}
.header2__title {
  font-size: clamp(30px, 4.1666666667vw, 60px);
  color: var(--color-tpu-green);
}

.content2__body {
  position: relative;
  padding: 30px;
  height: 800px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .content2__body {
    height: 600px;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .content2__body {
    height: 450px;
    padding-inline: 10px;
  }
}
.content2__bg-text {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-famly-bg);
  font-size: clamp(30px, 3.4722222222vw, 50px);
  color: var(--color-grey);
  opacity: 0.2;
}
.content2__image {
  z-index: 2;
  scale: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.sectionmain {
  padding: 30px;
  height: 900px;
}
@media (max-width: 1023px) {
  .sectionmain {
    height: auto;
  }
}
@media (max-width: 767px) {
  .sectionmain {
    padding: 15px;
    height: auto;
  }
}
.sectionmain__body {
  display: flex;
  height: 100%;
}
.sectionmain__logo {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 450px;
  aspect-ratio: 1;
}
@media (max-width: 1280px) {
  .sectionmain__logo {
    width: 350px;
    aspect-ratio: 1;
  }
}
@media (max-width: 1023px) {
  .sectionmain__logo {
    width: 300px;
    aspect-ratio: 1;
  }
}
@media (max-width: 767px) {
  .sectionmain__logo {
    width: 250px;
    aspect-ratio: 1;
  }
}
.sectionmain__item {
  display: flex;
  color: white;
}
.sectionmain__item:not(:last-child) {
  margin-bottom: 70px;
}
.sectionmain__link {
  width: 100%;
  position: relative;
  color: var(--color-grey-light);
  padding-inline: 30px;
}
.sectionmain__link-label {
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}
.sectionmain__link-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.sectionmain__link-icon-wrapper svg {
  color: var(--color-tpu-green);
}
@media (hover: hover) {
  .sectionmain__link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .sectionmain__link:active::after {
    width: 100%;
  }
}
.sectionmain__link::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--color-tpu-green);
  transition-duration: inherit;
}
@media (max-width: 767px) {
  .sectionmain__link {
    padding-left: 0;
  }
}
.sectionmain__description {
  color: var(--color-grey-light);
  padding: 20px;
  font-size: clamp(14px, 1.7361111111vw, 25px);
}

.schools-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 80px;
}
@media (max-width: 1280px) {
  .schools-label {
    padding-top: 20px;
  }
}
@media (max-width: 1023px) {
  .schools-label {
    padding-top: 15px;
  }
}
.schools-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 160px;
  gap: 100px;
}
@media (max-width: 1600px) {
  .schools-grid {
    gap: 80px;
    padding-inline: 120px;
  }
}
@media (max-width: 1280px) {
  .schools-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 50px 100px;
  }
}
@media (max-width: 1023px) {
  .schools-grid {
    gap: 30px;
    padding: 40px 40px;
  }
}
@media (max-width: 767px) {
  .schools-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px 20px;
  }
}
.schools__item {
  display: flex;
  justify-content: c;
  align-items: center;
  height: 120px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadowBefore);
}
@media (hover: hover) {
  .schools__item:hover {
    box-shadow: var(--shadowAfter);
  }
}
@media (hover: none) {
  .schools__item:active {
    box-shadow: var(--shadowAfter);
  }
}
.schools__item-logo {
  padding-left: 20px;
}
.schools__item-logo img {
  width: 90px;
  aspect-ratio: 1;
}
@media (max-width: 1023px) {
  .schools__item-logo img {
    width: 70px;
    aspect-ratio: 1;
  }
}
.schools__name-link {
  color: white;
  width: 100%;
  padding-left: 20px;
  padding-block: 20px;
  font-size: clamp(1px, 1.25vw, 18px);
}
@media (max-width: 1600px) {
  .schools__name-link {
    font-size: clamp(1px, 1.25vw, 18px);
  }
}
@media (max-width: 1280px) {
  .schools__name-link {
    font-size: clamp(2px, 1.3888888889vw, 20px);
  }
}
@media (max-width: 1023px) {
  .schools__name-link {
    font-size: clamp(16px, 1.3888888889vw, 20px);
    padding-block: 5px;
  }
}
@media (max-width: 767px) {
  .schools__name-link {
    font-size: clamp(16px, 1.3888888889vw, 20px);
  }
}

.preloader3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 300;
  pointer-events: none;
}
.preloader3__column {
  flex: 1;
  height: 100%;
  background-color: var(--color-pink-light);
  animation: revealUp 1.2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.preloader3__column:nth-child(2) {
  animation-delay: 0.1s;
}
.preloader3__column:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes revealUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.header3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header3__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 90px;
  height: 150px;
}
.header3__label {
  font-size: clamp(38px, 4.4444444444vw, 64px);
  animation-name: opasity;
  animation-duration: 2s;
}
@keyframes opasity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.description__title {
  padding: 100px 130px;
}
@media (max-width: 1600px) {
  .description__title {
    padding: 100px 100px;
  }
}
@media (max-width: 1280px) {
  .description__title {
    padding: 60px 70px;
  }
}
@media (max-width: 767px) {
  .description__title {
    padding: 60px 20px;
  }
}
.description__text {
  font-size: clamp(16px, 3.3333333333vw, 48px);
}
.description__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-inline: 100px;
}
@media (max-width: 1600px) {
  .description__list {
    padding-inline: 50px;
  }
}
@media (max-width: 1280px) {
  .description__list {
    padding-inline: 40px;
    gap: 40px;
  }
}
@media (max-width: 1023px) {
  .description__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
  }
}
.description__item-line {
  border-right: 1px solid white;
}
@media (max-width: 1023px) {
  .description__item-line {
    border-right: 0;
  }
}
.description__card {
  margin-right: 60px;
}
.description__card-label {
  margin-bottom: 30px;
  text-align: center;
  font-size: clamp(24px, 2.2222222222vw, 32px);
}
@media (max-width: 767px) {
  .description__card-label {
    margin-bottom: 15px;
  }
}
@media (max-width: 1280px) {
  .description__card {
    margin-right: 30px;
  }
}
.description__card-text {
  text-align: center;
  font-size: clamp(16px, 1.6666666667vw, 24px);
}

.threeriders {
  --card-height:400px;
}
@keyframes fade-left {
  from {
    translate: -20vw;
    opacity: 0;
  }
}
@keyframes fade-bottom {
  from {
    translate: 0 20vw;
    opacity: 0;
  }
}
@keyframes fade-right {
  from {
    translate: 20vw;
    opacity: 0;
  }
}
@media (max-width: 1600px) {
  .threeriders {
    --card-height:320px;
  }
}
@media (max-width: 1280px) {
  .threeriders {
    --card-height:240px;
  }
}
@media (max-width: 1023px) {
  .threeriders {
    --card-height:200px;
  }
}
@media (max-width: 767px) {
  .threeriders {
    --card-height:280px;
  }
}
.threeriders__header {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
@media (max-width: 1280px) {
  .threeriders__header {
    padding-bottom: 80px;
  }
}
.threeriders__header-label {
  font-size: clamp(36px, 3.4722222222vw, 50px);
}
.threeriders__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding-inline: 100px;
  gap: 60px;
}
@media (max-width: 1023px) {
  .threeriders__list {
    padding-inline: 40px;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .threeriders__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.threeriders__item {
  width: 400px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 0;
  border: 1px solid #414141;
  border-radius: var(--border-radius);
  box-shadow: var(--shadowBefore);
}
@media (hover: hover) {
  .threeriders__item:hover {
    box-shadow: var(--shadowAfter);
  }
}
@media (hover: none) {
  .threeriders__item:active {
    box-shadow: var(--shadowAfter);
  }
}
@media (max-width: 1600px) {
  .threeriders__item {
    width: 320px;
    aspect-ratio: 1;
  }
}
@media (max-width: 1280px) {
  .threeriders__item {
    width: 240px;
    aspect-ratio: 1;
  }
}
@media (max-width: 1023px) {
  .threeriders__item {
    width: 200px;
    aspect-ratio: 1;
  }
}
@media (max-width: 767px) {
  .threeriders__item {
    width: 280px;
    aspect-ratio: 1;
  }
}
.threeriders__item-left {
  animation-name: fade-left;
  animation-fill-mode: both;
  animation-timing-function: linear;
  view-timeline-name: --fade-left;
  animation-timeline: --fade-left;
  animation-range: 20% 30%;
}
.threeriders__item-bottom {
  animation-name: fade-bottom;
  animation-fill-mode: both;
  animation-timing-function: linear;
  view-timeline-name: --fade-bottom;
  animation-timeline: --fade-bottom;
  animation-range: 20% 40%;
}
.threeriders__item-right {
  animation-name: fade-right;
  animation-fill-mode: both;
  animation-timing-function: linear;
  view-timeline-name: --fade-right;
  animation-timeline: --fade-right;
  animation-range: 20% 50%;
}
@media (max-width: 1600px) {
  .threeriders__card svg {
    width: calc(var(--card-height) * 0.625);
    height: calc(var(--card-height) * 0.625);
  }
}
@media (max-width: 1280px) {
  .threeriders__card svg {
    width: calc(var(--card-height) * 0.625);
    height: calc(var(--card-height) * 0.625);
  }
}
@media (max-width: 1023px) {
  .threeriders__card svg {
    width: calc(var(--card-height) * 0.625);
    height: calc(var(--card-height) * 0.625);
  }
}
@media (max-width: 767px) {
  .threeriders__card svg {
    width: calc(var(--card-height) * 0.625);
    height: calc(var(--card-height) * 0.625);
  }
}

@keyframes rect-rotate {
  from {
    rotate: -360000deg;
  }
}
.react__header {
  padding-block: 150px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
}
.react__label {
  font-size: clamp(34px, 3.4722222222vw, 50px);
}
.react__body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 80px;
  padding-inline: 200px;
}
@media (max-width: 1600px) {
  .react__body {
    padding-inline: 100px;
  }
}
@media (max-width: 1023px) {
  .react__body {
    gap: 40px;
    padding-inline: 60px;
  }
  .react__body svg {
    width: 300px;
    aspect-ratio: 1;
  }
}
@media (max-width: 767px) {
  .react__body {
    flex-direction: column;
    gap: 25px;
    padding-inline: 40px;
  }
}
.react__body-description {
  font-size: clamp(18px, 1.9444444444vw, 28px);
}
.react__item-rotation {
  animation-name: rect-rotate;
  animation-duration: 10000s;
  animation-iteration-count: infinite;
}

.balast {
  height: 15vh;
}

.header3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.header3-1__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green-yellow);
  border-radius: 20px;
}
.header3-1__label {
  color: var(--color-shadow-grey);
  padding: 20px 40px;
}
@media (max-width: 1280px) {
  .header3-1 {
    padding-top: 50px;
  }
}

.html {
  padding-top: 140px;
}
@media (max-width: 1280px) {
  .html {
    padding-top: 50px;
  }
}
.html__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 100px;
  gap: 20px;
}
@media (max-width: 1600px) {
  .html__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    padding-inline: 50px;
  }
}
@media (max-width: 1023px) {
  .html__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.html__item {
  height: 500px;
}
@media (max-width: 1023px) {
  .html__item {
    height: auto;
  }
}
.html__description {
  height: 100%;
  overflow-y: scroll;
}
.html__description-text {
  font-size: clamp(16px, 1.3888888889vw, 20px);
}
@media (max-width: 1600px) {
  .html__description {
    overflow: hidden;
  }
}
.html__label {
  font-size: clamp(30px, 2.7777777778vw, 40px);
  padding-bottom: 20px;
}

.footer3-1 {
  display: flex;
  height: 10vh;
}

.header3-2__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.header3-2__label {
  font-size: clamp(50px, 4.8611111111vw, 70px);
  background: linear-gradient(135deg, #f3292f, #2f73f1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.css {
  padding-top: 140px;
}
@media (max-width: 1280px) {
  .css {
    padding-top: 50px;
  }
}
.css__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline: 100px;
  gap: 30px;
}
@media (max-width: 1023px) {
  .css__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .css__list {
    padding-inline: 40px;
  }
}
.css__item {
  display: flex;
  justify-content: center;
}
.css__description {
  height: 100%;
}
.css__description-text {
  font-weight: 600;
  font-size: clamp(16px, 1.6666666667vw, 24px);
}
.css__label {
  font-size: clamp(30px, 2.7777777778vw, 40px);
  padding-bottom: 20px;
}
.css__picture {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .css__picture {
    padding-block: 60px;
  }
}
@media (max-width: 1023px) {
  .css__picture {
    padding: 40px 70px;
  }
}

.header3-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.header3-3__box {
  background-color: var(--color-yellow);
  border-radius: 20px;
}
.header3-3__label {
  color: #131313;
  padding: 10px 30px;
}

.js__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 40px;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
@media (max-width: 1600px) {
  .js__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (max-width: 1023px) {
  .js__list {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
}
.js__item svg {
  fill: var(--color-yellow);
}
.js__label {
  padding-bottom: 30px;
}

.header4 {
  height: 100vh;
  text-align: center;
  background-color: #eee;
  background-position: center;
  background-size: cover;
}
.header4-bg {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 13, 238, 0.5);
}
.header4__title {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 74px;
  text-transform: uppercase;
}

.content4 {
  margin: 100px auto 100px;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media (max-width: 1023px) {
  .content4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.content4__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content4__card {
  display: flex;
  flex-direction: column;
  width: 360px;
  border: 1px solid black;
  padding: 25px 25px 30px;
  box-shadow: 4px 4px 0 black;
}
.content4__card-image {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}
.content4__card-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}
.content4__card-text {
  font-size: 18px;
}

.footer4 {
  display: flex;
  height: 200px;
  background-color: #5f0dee;
}
.footer4__author {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 25px;
}

.header5__label {
  padding-left: 15px;
  padding-block: 30px;
}

.content5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.content5__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 760px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .content5__cont {
    width: 800px;
    height: 660px;
  }
}
@media (max-width: 1280px) {
  .content5__cont {
    width: 700px;
    height: 560px;
  }
}
@media (max-width: 1023px) {
  .content5__cont {
    width: 600px;
    height: 460px;
  }
}
@media (max-width: 767px) {
  .content5__cont {
    width: 500px;
    height: 360px;
  }
}
.content5__image {
  position: absolute;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.content5__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 30px;
  font-size: 30px;
  font-weight: bolder;
}
.content5__description-phrase::after {
  content: url("../images/page-5/cursor.gif");
}
.content5__button {
  height: 80px;
  width: 200px;
  font-size: 20px;
  color: inherit;
  background-color: #3f3b3b;
  border: 1px solid rgb(95, 95, 95);
  border-radius: var(--border-radius);
  box-shadow: var(--shadowBefore);
}
@media (hover: hover) {
  .content5__button:hover {
    box-shadow: var(--shadowAfter);
  }
}
@media (hover: none) {
  .content5__button:active {
    box-shadow: var(--shadowAfter);
  }
}
.content5__button-inner {
  font-size: 26px;
}

.footer5 {
  translate: 15vw;
  font-size: 26px;
  font-weight: bolder;
}/*# sourceMappingURL=styles.css.map */